---
name: Renovate

on: # yamllint disable-line rule:truthy
  push:
    branch: [main]
  pull_request:
    types: [edited]
  issues:
    types: [edited]
  workflow_dispatch:
    inputs:
      dryRun:
        description: "Dry-Run"
        default: "true"
        required: false
      logLevel:
        description: "Log-Level"
        default: "debug"
        required: false
  schedule:
    - cron: "0 */6 * * *"

env:
  LOG_LEVEL: info
  DRY_RUN: false

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Override default config from dispatch variables
        run: |
          echo "DRY_RUN=${{ github.event.inputs.dryRun || env.DRY_RUN }}" >> "${GITHUB_ENV}"
          echo "LOG_LEVEL=${{ github.event.inputs.logLevel || env.LOG_LEVEL }}" >> "${GITHUB_ENV}"
          echo "RENOVATE_CONFIG_FILE=,github/renovate-gitops.json5" >> "${GITHUB_ENV}"
      - name: Renovate
        uses: renovatebot/github-action@v31.81.3
        with:
          configurationFile: .github/renovate-go.json5
          token: ${{ secrets.PAT }}
